<header class="main-header">
    <nav class="main-header__nav">
      <ul class="main-header__item-list">
        <li class="main-header__item">
          <a href="/" class="<%= path === '/' ? 'active' : '' %>"><%= profilesName %></a>
        </li>
        <li class="main-header__item">
          <a href="/users/user1" class="<%= path === '/user1' ? 'active' : '' %>"><%= user1Name %></a>
        </li>
        <li class="main-header__item">
          <a href="/users/user2" class="<%= path === '/user2' ? 'active' : '' %>"><%= user2Name %></a>
        </li>
        <li class="main-header__item">
          <a href="/users/shared" class="<%= path === '/shared' ? 'active' : '' %>"><%= sharedName %></a>
        </li>
      </ul>
    </nav>
  </header>