<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile Selection</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/profiles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  <body>


    <main>
      <h1 class="page-title">Select a Profile</h1>
      <ul class="profile-list">
        <li class="profile-item">
          <a href="/users/shared" class="profile-link"><%= sharedName %></a>
        </li>
        <li class="profile-item">
          <form action="/user1/edit-username" method="POST" onsubmit="return confirmUsernameEdit(this, 'user1')" class="profile-form">
              <a href="/users/user1" id="user1-link" class="profile-link">
                  <span id="user1-display" class="display-only"><%= user1Name %></span>
              </a>
              <input id="user1-input" class="profile-input edit-only" type="text" name="username" value="<%= user1Name %>" style="display:none;">
              <button type="button" id="user1-edit-button" class="profile-button" onclick="toggleEditUsername('user1')">Edit</button>
              <button type="submit" id="user1-save-button" class="profile-button edit-only" style="display:none;">Save</button>
          </form>
      </li>
      <li class="profile-item">
          <form action="/user2/edit-username" method="POST" onsubmit="return confirmUsernameEdit(this, 'user2')" class="profile-form">
              <a href="/users/user2" id="user2-link" class="profile-link">
                  <span id="user2-display" class="display-only"><%= user2Name %></span>
              </a>
              <input id="user2-input" class="profile-input edit-only" type="text" name="username" value="<%= user2Name %>" style="display:none;">
              <button type="button" id="user2-edit-button" class="profile-button" onclick="toggleEditUsername('user2')">Edit</button>
              <button type="submit" id="user2-save-button" class="profile-button edit-only" style="display:none;">Save</button>
          </form>
      </li>
      </ul>
    </main>
    <script src="/js/profiles.js"></script>
  </body>
</html>
